/* basic color variables */
:root{
	--bg_color_1 : #070130;
	--bg_color_2: #0d0065;
	--bg_color_3: #222b5c;
	--bg_color_4: #502178;
	--bg_music_bar: #2b2b2a;
	--font_color_1:	white;
	--font_color_2: lightgrey;
	--font_color_3 : #98ada0;
	--font_color_4 : black;

}
/*End of variables section*/

/*nasic section of the html page*/
body{
	height: 100%;
	width: 100%;
	margin-left: -5px;
	margin-top: -1vh;
	/*background-color: var(--bg_color_1);*/
	background-color: #370065de;
}

nav{
	height: 4rem;
	width: 100%;
	margin: 0.3rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	position: fixed;
	z-index: 1;
	background-color: var(--bg_color_4);
}

main{
	height: 150%;
	width:65%;
	margin-top: 10vh;
	margin-left: 4%;
	margin-right: 3%;
	padding-bottom: 20vh;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: column;
}

aside{
	height:auto;
	width:28%;
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0px;
	margin-top: 8%;
	margin-left: -1vw;
	vertical-align: top; /*Ensures that aside is displayed right beside main at the top*/
    color:lightgray;

}

/* Basic Classes*/
.hide{
	display: none; /*This class hides any div that it is applie to*/
}
/*End of classes*/


/*navigation bar*/

/* music player logo and name part */
#music-player-tag{
	width: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

#search-bar-utility{
	width: auto;
	display: flex;
	margin-right: 2rem;
	flex-wrap: wrap;
	justify-content: space-between;
}

#music-player-logo{
	display: inline;
	margin-top: 5px;
}
#music-player-logo img{
	height: 3.3rem;
	width: 3.3rem;

	border-radius: 50%;
	display: inline;
}

#music-player-name{
	color: white;
	font-family:helvetica, sans-serif ;
	padding: 5px;
	margin-top: 7px;
	display: inline;
}
/*end of music player logo and name part*/

/*search bar*/

#search-bar{
	width: auto;
	margin-top: 14px;
	margin-right: 2rem;
	color: white;
	font-size: 1.1rem;
}

#search-bar input[type="text"]{
	height:1.7rem;
	width:17vw;
	margin-right: 3px;
	padding: 1px;
	background-color:#727272;
	border:none;
	color:var(--font_color_1);
	font-family: helvetica, sans-serif;
}

::placeholder{
	color: var(--font_color_1);  /*Editing the placeholder of the searchbar*/
	font-family: helvetica, sans-serif;
	padding: 5px;
}
#search-bar input:focus{
	height:1.7rem;
	width:17vw;
	outline:none;
}
#search-bar i{
	margin-top: 1px;
}
/*End of search bar*/
/*Miscellaneous part of navigation bar*/
#notifications{
	font-size: 1.3rem;
	color: var(--font_color_1);
	margin-top: 18px;
	margin-right: 2rem;

}
#user{
	margin-top: 5px;
}
#user img{
	height: 3.3rem;
	width: 3.3rem;
	border-radius: 50%;
}
/*End of Miscellaneous portion of navigation bar*/
/*End of Navigation Bar*/


/* artist start from here------------------------------------------ */
#artist-template{
	height: auto;
	width: 95%;
	margin-top: 5%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

#artist-image{
	height: 60vh;
	width: 40%;
	background: linear-gradient(to bottom, rgba(13,0,101,0) 10%,
              rgba(13,0,101,1)), url(image/Artist-image3.jpg); /*Adding linear gradient*/
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#artist-details{
	height: 60vh;
	width: 54%;
	display: flex;
	flex-direction: column;
	margin-right: 3%;
	margin-left: 1%;
}

#artist-title{
	height: 20%;
	width: 100%;
	margin-top: 13%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	font-family: helvetica, sans-serif;
	
}

#artist-title b{
	font-size: 1.5rem;
	color: #fff;
}
#artist-title followers{
	font-size: 0.9rem;
	margin-top: 1.5%;
	color: #fff;
}

#artist-title artist-type{
	font-size: 0.9rem;
	font-weight: bold;
	margin-top: 1rem;
	/*  padding: 0.5rem; */
    color: lightgray;
}

#artist-intro{
	font-family: helvetica, sans-serif;
	font-size: 0.9rem;
	text-align: justify;
	width: 94%;
    color: lightgray;
}

#artist-buttons{
	height: auto;
	width: 55%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 10%;
}

#playall-button{
    background-image: linear-gradient( to top right, #2857a4,  #9874ee);
	height: 1.7rem;
	width: 9rem;
	color: white;
    text-align: center;
    font-weight: bold;
    font-family: helvetia, sans-serif;
    border-radius: 0.3rem;
    padding-top: 4%;
}
#follow-button{
	font-family: helvetica, sans-serif;
    color: lightgray;
}

/*Artist Songs Begining-----------------------------------------------*/
#artist-songs{
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 3%;
    color: lightgray;
}
#tracks{
	font-family: helvetica, sans-serif;
	font-size: 0.8rem;
	margin-top: 0.5rem;
    color: lightgray;
}
#song{
	height: 12vh;
	width: 95%;
	min-width: 300px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2%;
    background-color: #391954;
}
#song img{
	height: 10vh;
	width: 10vh;
	margin-left: 2vw;
}

#song-number{
	font-family: helvetica, sans-serif;
    margin-left: 1vw;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
}

#icons{
	height: auto;
	width: 4vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-content: space-between;
	padding-right: 2%;
}

#song-details{
	font-family: helvetica, sans-serif;
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-left: 2vw;
	font-size: 0.95rem;
	color: #fff;
}
#song-details author{
	font-family: helvetica, sans-serif;
	font-size: 0.8rem;
	margin-top: 1vh;
}
/* aside header 1------------------------------------- */
#aside-header-1{
	font-family: helvetica, sans-serif;
	font-size: 1.6rem;
	font-weight: bolder;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-right: 5vw;
	width: 90%;
    color: white;
}

#aside-header-1 x{
	font-family: helvetica, sans-serif;
	font-size: 0.9rem;
}

#similar-artist{
	height: 20vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 1.5rem;
	font-size: 1.3rem;
	margin-bottom: -1.5rem;
}

#artist-img{
   background-image: url(image/salena.jpg);
   height: 15vh;
   width: 15vh;
   background-position: center;
   background-size: cover;
   margin-right: -0.5rem;
}
#artist-img1{
    background-image: url(image/Artist-image5.jpg);
    height: 15vh;
    width: 15vh;
    background-position: center;
    background-size: cover;
    margin-right: -0.5rem;
 }
 #artist-img2{
    background-image: url(image/justin.jpg);
    height: 15vh;
    width: 15vh;
    background-position: center;
    background-size: cover;
    margin-right: -0.5rem;
 }

#similar-artist i{
	margin-left: 8vw;
}
/* aside header------------------------------------------ */

#aside-header-2{
	font-family: helvetica, sans-serif;
	font-size: 1.6rem;
	font-weight: bolder;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-right: 5vw;
	width: 90%;
	margin-top: 2.5rem;
}

#aside-header-2 x{
	font-family: helvetica, sans-serif;
	font-size: 0.9rem;
}

aside #song{
	align-items: center;
	margin-top: 1.5rem;
	margin-bottom: -1rem;
	
}

aside #song #song-details{
	font-size: 0.8rem;
}

aside #song #song-number{
	width: 70%;
	margin-top: 0.3rem;
}
/* footer------------------------------------music player  */

/*Music Bar*/
#music-bar{
	height: 100px;
	width: 1525px;
	position: fixed;
	bottom: 0;
	background-color: whitesmoke;
	opacity: 1;
	color: darkslategray;
	z-index: 15;
}

#music-icon{
	height: 70px;
	width: 70px;
	margin-left: 2vw;
	margin-top: 6px;
	border:2px solid  var(--font_color_1);;
	opacity: 1;
}
#music-icon img{
	height: 70px;
	width: 70px;
	margin-left: 0;
	margin-top: 0;
	position: fixed;
}
#music-bar:target{
	display: block; /*When play button is clicked music bar is displayed*/
}
#music-icon a{
	position: fixed;
	top:12vh;
	left:98%;
	color: var(--font_color_1);
}
#music-title{
	color: var(--font_color_4);
	font-family: sans-serif;
	font-size:1rem;
	margin-top: -3.5%;
	margin-left: 7.5%;
}
#music-player-title-artist{
	 color:lightgrey; 
	 font-size:0.8rem;
}
#play-buttons{
	margin-top: -2%;
    margin-left: 35%;
    font-size: 1.3rem;
	}
#play-buttons i{
	padding-right: 4%;
}
#progress-bar{
	height:3px;
	width:380px;
	background-color: var(--font_color_3);
	margin-left: 470px;
	margin-top:-1vh;
	border-radius: 2px;
}
#circle{
	position: relative;
	top:-6px;
	left:-1px;
}
#favourite{
	margin-left: 5px;
	display: inline;
}
#remove{
	margin-left: 5px;
   display: inline;
}
#queue{
	display: inline;
	margin-left: 73%;
	position: relative;
	bottom: 21%;
}
#volume{
	display: inline;
	margin-left: 76%;
	position: relative;
	bottom: 38%;
}
#progress-bar-volume{
	height:3px;
	width:10vw;
	background-color: var(--font_color_3);
	position: fixed;
	left: 1200px;
	top:92vh;
	border-radius: 2px;
	display: inline;
}

#circle-volume{
	position: relative;
	top:-6px;
	left:0%;
}
#start-time{
	display: inline;
	position: absolute;
	 color: darkslategray;
	font-family: sans-serif;
	position: relative;
	left:28%;
	top:2.5%;
	font-size: 0.8rem;
}
#end-time{
	display: inline;
	position: absolute;
	 color: darkslategray;
	font-family: sans-serif;
	font-size: 0.8rem;
	position: relative;
	left:55%;
	top:2.5%;
}
/*End of music bar*/